---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hi I'm Jay</h1>
    <p>I’m an incoming strategy consultant based in New York City with a West Coast identity. </p>
    <p>
        I divide my time between outdoor adventures and indoor reflection. I’m occupied with planning out my twenties, exploring cities, and reading old(er) classics.
    </p>
    <p>Here are some quick facts:</p>
  { <ul>
      <li>100 / 100 Lighthouse performance</li>
      <li>Responsive</li>
      <li>SEO-friendly</li>
      <li>Light / Dark Theme</li>
      <li>Markdown support</li>
      <li>
        <a target="_blank" href="https://mdxjs.com/">MDX</a>
        (components in your markdown) support
      </li>
      <li>
        <a target="_blank" href="https://vuejs.org/">Vue</a>
        SFC component support
      </li>
      <li>Auto generated sitemap and RSS Feed</li>
      <li>
        <a target="_blank" href="https://vueuse.org/">VueUse</a>
        &
        <a target="_blank" href="https://lodash.com/">Lodash</a>
        support
      </li>
    </ul>
}
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Reach me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
