---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hi I'm Jay</h1>
    <p>I'm a strategy consultant based in NYC, hailing from the lush West Coast.</p>
    <p>
     I'm currently occupied with planning tradeoffs in my twenties, exploring new cities, and reading old books. You may also stumble upon me adventuring in the outdoors or preaching about meditation or talking too much in general.
    </p>
      <p>You may find these interesting:</p>
  { <ul>
        <li>
        <a target="_blank" href="https://vuejs.org/">Century-old perspectives on a life well lived</a>
         - How some cobwebbed books have changed me
      </li>
      <li>
        <a target="_blank" href="https://jaycbh.com/posts/post-3/">Thriving in a new city alone; a list</a>
      </li>
       <p>
This blog is simply an experiment in finding like-minded people!
    </ul>
}
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Reach me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
