---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hi I'm Jay</h1>
    <p>Based in NYC, hailing from the lush Pacific Northwest.</p>
    <p>
     I like to be inspired and optimize systems. I'm currently occupied with interviewing ex-corporate HENRYs who've quit their jobs and figuring out my path to a balanced lifestyle. 
    </p>
 <p>Currently 📖: <em> Bowling Alone, Robert Putnam </em></p>
      <p>You may find these intriguing:</p>
  { <ul>
        <li>
        <a target="_blank" href="https://jaycbh.com/posts/post-6/">Century-old perspectives on a life well lived</a>
      </li>
      <li>
        <a target="_blank" href="https://jaycbh.com/posts/post-3/">Thriving in a new city alone; a list</a>
      </li>
    </ul>
<p> If I've met you before, feel free to check out my f&f newsletter 
        <a target="_blank" href="https://jaycbh.beehiiv.com/">here.</a>
      </p>
}
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Reach me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>-
I would love to hear your lore.
    </p>
  </article>
</BaseLayout>
